body{
    margin: 0px;
}

main{
    margin:0px auto 0px auto;
    background-color: #fffafa;
    width: 70%;
    height: 100%;
}

section{
    padding: 30px;
    margin-left: 50px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.font-data{
    font-family: 'Roboto', sans-serif;
}

.font-paragrafo{
    font-family: 'Open Sans', sans-serif;
}

#data-color{
    color: #008080;
}